data
scripts

# Dependências do Node.js
node_modules/

# Diretórios de build
dist/
build/

# Configurações locais
.env
.vscode/

# Logs
*.log

# Caches
.cache/
.next/

# Arquivos de sistema
.DS_Store
Thumbs.db