.chosenGameContainer {
	background-color: #f0f0f0;
	border-radius: 8px;
	padding: 1rem;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.randomGameContainer {
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.chosenGameTitle {
	font-size: 3rem;
	text-align: center;
}

.AIExplanationContainer {
	gap: 0.5rem;
	flex-direction: column;
	align-items: center;
}

.divider {
	border-top: 1px solid #ccc;
	width: 100%;
}

.AIExplanationTitle {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.AIExplanationText {
	font-size: 1rem;
	color: #555;
	text-align: center;
}

@media (max-width: 768px) {
	.chosenGameTitle {
		font-size: 2rem;
	}
}
