header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* BOTÕES INICIAIS */
#headerButtons {
	justify-content: center;
	gap: 2rem;
}

#headerButtons button {
	background-color: transparent;
	border: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#headerButtons button p {
	text-decoration: underline;
}
