* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
}

body {
	background-color: #f5f5f5;
	height: 100vh;
}

.container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hidden {
	display: none;
}

.visible {
	display: flex;
}

/* BUTTONS */
.plus__button,
.arrow__up__button {
	position: fixed;
	right: 1rem;
	background-color: #027df7;
	border-radius: 50%;
	padding: 1rem;
	border: none;
	cursor: pointer;
	color: white;
	align-items: center;
	z-index: 1000;
}

.arrow__up__button {
	bottom: 1rem;
	transition: display 1s;
}

.plus__button {
	top: 1rem;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	overflow: hidden;
	width: 3rem;
	height: 3rem;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
}

.plus__button i {
	transition: transform 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
}

.plus__button span {
	opacity: 0;
	width: 0;
	overflow: hidden;
	transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
	white-space: nowrap;
}

.plus__button:hover {
	width: 10rem;
	border-radius: 2rem;
	padding: 0.5rem 1rem;
	justify-content: center;
}

.plus__button:hover i {
	transform: rotate(180deg);
}

.plus__button:hover span {
	opacity: 1;
	width: auto;
}

@media (max-width: 768px) {
	.container {
		padding: 1rem;
		gap: 1rem;
	}
}
